@import "/module/global";
@import "/module/loading";
@import "/module/normalize";
@import "/module/project-menu";
@import "/module/project-header";
@import "/module/issue";
@import "/module/editor";
@import "/module/hack";
@import "/module/login";
@import "/module/project";
@import "/module/home";
@import "/module/jquery.dropdown.less";
@import "/module/project-weekly-report";
@import "/module/assets";
@import "/module/print";

html{
  padding-bottom: 40px;
  height: 100%;
  overflow: hidden;
}

body{
  color: #333;
  height: 100%;
  font-size: 14px;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link{
  color: #336699;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

*{
  outline: none;
}