<!DOCTYPE html>
<html>
    {{import "module/head"}}
    <body>
        {{import "module/header"}}

        <div class="master-panel" project-menu>

        </div>

        <div class="salve-panel">
            <!--第二栏-->
            <div class="list-panel">

            </div>
            <!--第三栏-->
            <div class="content-panel"></div>
        </div>
        {{import "module/footer" global.footer}}
    </body>
</html>