<div>
    <!--缩略图列表-->
    <textarea id="tmpl-asset-thumbnails">
        <ul class="asset-thumbnails">
            <li ng-repeat="asset in assets.items" title="{{asset.original_name}}">
                <div class="thumbnail">
                    <img src="{{asset.url | extensionImage}}" />
                    <div class="overlay">
                        <a href="{{asset.url}}" target="_blank">预览</a>
                        <a href="javascript:void(0)" ng-click="clickDownload()">下载</a>
                    </div>
                </div>
                <div class="filename">
                    {{asset.original_name}}
                </div>
                <div class="description">
                    <span class="timestamp">{{asset.timestamp | date}}</span>
                    <span class="creator">{{asset.file_size | friendlyFileSize}}</span>
                </div>
            </li>
        </ul>
    </textarea>

    <!--素材列表-->
    <textarea id="tmpl-assets-list">
        <div class="list assets-list">
            <header>
                <h3>素材库</h3>
            </header>

            <ul class="details">
                <li ng-repeat="item in assets.items" class="row">
                    <a href="/project/{{item.project_id}}/assets/{{item.id}}">
                        <span class="title">{{item.original_name}}</span>
                        <span class="badge gray small">{{item.file_size}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </textarea>
</div>