<div>
    <!--缩略图列表-->
    <textarea id="tmpl-asset-thumbnails">
        <ul class="asset-thumbnails">
            <li ng-repeat="asset in assets.items" title="{{asset.original_name}}">
                <div ng-class="asset.url | getAssetThumbnailClass" style="background-image: url({{asset | assetThumbnail}})">
                </div>
                <div class="description">
                    <p class="filename">
                        {{asset.original_name}}
                    </p>
                    <p class="secondary">
                        {{asset.timestamp | date: 'MM月dd日 hh:mm'}}
                    </p>
                    <p class="secondary">
                        {{asset.realname}}/{{asset.file_size | friendlyFileSize}}
                    </p>
                </div>
                <div class="overlay">
                    <ul>
                        <li ng-show="asset.url | assetIsPicture">
                            <a href="{{asset | assetLink}}" ng-click="onClickPreviewPicture($event, asset)">预览</a>
                        </li>

                        <li ng-show="asset.url | assetIsBundle">
                            <a href="javascript:void(0)" ng-click="onClickPreviewBundle($event, asset)">预览</a>
                        </li>

                        <li><a href="{{asset | assetLink:true}}" target="_blank">下载</a></li>
                        <li><a href="javascript:void(0)" ng-click="onClickRemove($event, asset)">删除</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </textarea>

    <!--素材列表-->
    <textarea id="tmpl-assets-list">
        <div class="list">
            <header>
                <h3>素材库</h3>
            </header>
            <ul class="details">
                <li ng-repeat="item in assets.items" class="row">
                    <!--/project/{{item.project_id}}/assets/{{item.id}}-->
                    <a href="{{item | assetLink:true}}" target="_blank" ng-if="!(item.file_name | filenameIsPicture)">
                        <span class="title">{{item.original_name}}</span>
                    </a>

                    <a href="/{{item | projectLink: 'normal'}}/assets/previewer/{{item.id}}?url={{item.url}}" ng-if="(item.file_name | filenameIsPicture)">
                        <span class="title">{{item.original_name}}</span>
                    </a>

                    <div class="info">
                        <span class="memo">{{item.file_size | friendlyFileSize}}</span>
                        <span class="memo">{{item.realname}}</span>
                        <span class="memo">{{item.timestamp | date}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </textarea>

    <!--图片素材的预览-->
    <textarea id="tmpl-assets-previewer">
        <div class="asset-previewer full">
            <a href="{{url}}" target="_blank">
                <img ng-src="{{url}}" />
            </a>
        </div>
    </textarea>

   <textarea id="tmpl-assets-unwind">
       <div class="full asset-unwind">
           <nav>
               <a href="javascript:void(0)" ng-click="onClickNav($event, -1)">根目录</a>
               <span ng-repeat="item in subdir">->
                   <a href="javascript:void(0)" ng-click="onClickNav($event, $index)">{{item}}</a>
               </span>
           </nav>

           <ul class="list">
               <li class="title">
                   <span class="filename">文件名</span>
                   <span class="size">文件大小</span>
                   <span class="size">修改日期</span>
               </li>
               <li ng-repeat="asset in unwind">
                   <span class="filename">
                       <img ng-src="/images/file-extension-small/{{asset.original_name | extensionImage: asset.is_dir}}.png" />

                       <a href="javascript:void(0)" ng-click="onClickAsset($event, asset)" ng-show="asset.is_dir">{{asset.original_name}}</a>
                       <a href="{{asset.url}}" ng-show="!asset.is_dir" target="_blank">{{asset.original_name}}</a>
                       <a href="{{asset.url}}&download=true" target="_blank" ng-show="!asset.is_dir" class="download">下载</a>
                   </span>
                   <span class="size">{{asset.file_size | friendlyFileSize}}</span>
                   <span class="mtime">{{asset.timestamp | date: 'medium'}}</span>
               </li>
           </ul>
       </div>
   </textarea>
</div>