<div>
    <textarea id="tmpl-project-menu">
        <div class="project-menu">
            <ul class="master-menu">
                <li class="myself active">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue/myself">我的任务</a>
                        </label>
                    </div>
                </li>
                <li class="discussion">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/discussion">讨论</a>
                        </label>
                    </div>
                </li>
                <li class="issue-category">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue">任务</a>
                        </label>
                        <ul class="sub-menu">
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/需求">需求</a>
                                <span class="badge small gray">0</span>
                            </li>
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/bug">Bug</a>
                                <span class="badge  small gray">10</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/assets">素材</a>
                        </label>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/member">成员</a>
                        </label>
                    </div>
                </li>
                <li class="commit">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/commit">Commit</a>
                        </label>
                    </div>
                </li>
                <li class="report">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/weekly-report">周报</a>
                        </label>
                    </div>
                </li>
                <li class="version">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/version">版本</a>
                        </label>
                    </div>
                </li>
                <li class="stat">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/stat">统计</a>
                        </label>
                    </div>
                </li>
                <li class="plugin">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/plugin">插件</a>
                        </label>
                    </div>
                </li>
            </ul>

            <div class="menu-bar">
                <div class="create item">
                    <i class="icon"></i>
                    <span>新增</span>
                </div>
                <div class="setting item">
                    <i class="icon"></i>
                    <span>管理</span>
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-project-header">
        <header>
            <!--项目信息-->
            <div class="overview">
                <a href="/" class="home">
                    <i class="icon small"></i>
                </a>

                <div class="content">
                    <span class="version">V1.0</span>
                    <span class="title">BHF项目</span>
                    <i class="drop icon small"></i>
                </div>
            </div>
            <div class="logo">
                <i class="icon"></i>
            </div>
            <!--右边的boolbar-->
            <div class="toolbar">
                <div class="search">
                    <!--<input type="text" placeholder="请输入搜索关键字" />-->
                </div>
                <div class="menu">
                    <div  class="notify">
                        <i class="small icon"></i>
                    </div>
                    <div class="help" dropdown>
                        <i class="small icon"></i>
                        <div class="dropdown dropdown-tip">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="help.html">帮助</a>
                                </li>
                                <li>
                                    <a href="feedback.html">反馈建议</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile" dropdown>
                        <i class="small icon"></i>
                        <div class="dropdown dropdown-tip">
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-value="profile">个人资料</a>
                                </li>
                                <li>
                                    <a data-value="notification">通知设置</a>
                                </li>
                                <li>
                                    <a data-value="changePassword">修改密码</a>
                                </li>
                                <li>
                                    <a data-value="logout">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </textarea>

    <textarea id="tmpl-project-member-dropdown">
        <div class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li><a data-value="-1">不指定</a></li>
                <li ng-repeat="item in items">
                    <a data-value="{{item.member_id}}">
                        {{item.username}}
                    </a>
                </li>
            </ul>
        </div>
    </textarea>

    <textarea id="tmpl-project-datetime-picker">
        <div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
            <input class="span2" size="16" type="text" value="12-02-2012">
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </textarea>
</div>