<div>
    <textarea id="tmpl-project-menu">
        <div class="project-menu">
            <ul class="master-menu">
                <li class="myself active">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue/myself">我的任务</a>
                        </label>
                    </div>
                </li>
                <li class="discussion">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/discussion">讨论</a>
                        </label>
                    </div>
                </li>
                <li class="issue-category">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue">任务</a>
                        </label>
                        <ul class="sub-menu">
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/需求">需求</a>
                                <span class="badge small gray">0</span>
                            </li>
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/bug">Bug</a>
                                <span class="badge  small gray">10</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/assets">素材</a>
                        </label>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/member">成员</a>
                        </label>
                    </div>
                </li>
                <li class="commit">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/commit">Commit</a>
                        </label>
                    </div>
                </li>
                <li class="report">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/weekly-report">周报</a>
                        </label>
                    </div>
                </li>
                <li class="version">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/version">版本</a>
                        </label>
                    </div>
                </li>
                <li class="stat">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/stat">统计</a>
                        </label>
                    </div>
                </li>
                <li class="plugin">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/plugin">插件</a>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </textarea>

    <textarea id="tmpl-project-header">
        <header>
            <!--项目信息-->
            <div class="overview">
                <a href="/" class="home">
                    <i class="icon small"></i>
                </a>

                <div class="content">
                    <span class="version">V1.0</span>
                    <span class="title">BHF项目</span>
                    <i class="drop icon small"></i>
                </div>
            </div>
            <div class="logo">
                <i class="icon"></i>
            </div>
            <!--右边的boolbar-->
            <div class="toolbar">
                <div class="search">
                    <!--<input type="text" placeholder="请输入搜索关键字" />-->
                </div>
                <div class="menu">
                    <i class="notify small icon"></i>
                    <i class="help small icon"></i>
                    <i class="profile small icon"></i>
                </div>
            </div>
        </header>
    </textarea>
</div>