<div>
    <textarea id="tmpl-project-menu">
        <ul class="project-menu">
            <li class="my">
                <label>
                    <i></i>
                    我的任务
                </label>
            </li>
            <li class="discussion">
                <label>
                    <i></i>
                    讨论
                </label>
            </li>
            <li class="issue-category">
                <label>
                    <i></i>
                    任务
                </label>
                <ul>
                    <li>
                        需求
                        <span class="badge">0</span>
                    </li>
                    <li>
                        Bug
                        <span class="badge">10</span>
                    </li>
                </ul>
            </li>
            <li class="member">
                <label>
                    <i></i>
                    成员
                </label>
            </li>
            <li class="commit">
                <label>
                    <i></i>
                    Commit
                </label>
            </li>
            <li class="report">
                <label>
                    <i></i>
                    周报
                </label>
            </li>
            <li class="version">
                <label>
                    <i></i>
                    版本
                </label>
            </li>
            <li class="stat">
                <label>
                    <i></i>
                    统计
                </label>
            </li>
        </ul>
    </textarea>
</div>