<div>
    <textarea id="tmpl-project-menu">
        <div class="project-menu">
            <ul class="master-menu">
                <li class="myself active">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue/myself">我的任务</a>
                        </label>
                    </div>
                </li>
                <li class="discussion">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/discussion">讨论</a>
                        </label>
                    </div>
                </li>
                <li class="issue-category">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/issue">任务</a>
                        </label>
                        <ul class="sub-menu">
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/需求">需求</a>
                                <span class="badge small gray">0</span>
                            </li>
                            <li>
                                <a href="/project/{{project.id}}/issue/tag/bug">Bug</a>
                                <span class="badge  small gray">10</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/assets">素材</a>
                        </label>
                    </div>
                </li>
                <li class="member">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/member">成员</a>
                        </label>
                    </div>
                </li>
                <li class="commit">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/commit">Commit</a>
                        </label>
                    </div>
                </li>
                <li class="report">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/weekly-report">周报</a>
                        </label>
                    </div>
                </li>
                <li class="version">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/version">版本</a>
                        </label>
                    </div>
                </li>
                <li class="stat">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/stat">统计</a>
                        </label>
                    </div>
                </li>
                <li class="plugin">
                    <div class="inner">
                        <i class="icon small"></i>
                        <label>
                            <a href="/project/{{project.id}}/plugin">插件</a>
                        </label>
                    </div>
                </li>
            </ul>

            <div class="menu-bar">
                <div class="create item">
                    <i class="icon"></i>
                    <span>新增</span>
                </div>
                <div class="setting item">
                    <i class="icon"></i>
                    <span>管理</span>
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-project-header">
        <header>
            <!--项目信息-->
            <div class="overview">
                <a href="/" class="home">
                    <i class="icon small"></i>
                </a>

                <div class="content">
                    <span class="title">{{project.title}}</span>
                    <span class="version">V1.0</span>
                    <i class="drop icon small"></i>
                </div>
            </div>
            <div class="logo">
                <i class="icon"></i>
            </div>
            <!--右边的boolbar-->
            <div class="toolbar">
                <div class="search">
                    <!--<input type="text" placeholder="请输入搜索关键字" />-->
                </div>
                <div class="menu">
                    <div  class="notify">
                        <i class="small icon"></i>
                    </div>
                    <div class="help" dropdown>
                        <i class="small icon"></i>
                        <div class="dropdown dropdown-tip">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="help.html">帮助</a>
                                </li>
                                <li>
                                    <a href="feedback.html">反馈建议</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile" dropdown>
                        <i class="small icon"></i>
                        <div class="dropdown dropdown-tip">
                            <ul class="dropdown-menu" member-menu>
                                <li>
                                    <a ng-click="onClickSetting(0)">个人资料</a>
                                </li>
                                <li>
                                    <a ng-click="onClickSetting(2)">通知设置</a>
                                </li>
                                <li>
                                    <a ng-click="onClickSetting(1)">修改密码</a>
                                </li>
                                <li>
                                    <a ng-click="onClickLogout()">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </textarea>

    <textarea id="tmpl-project-member-dropdown">
        <div class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li><a data-value="-1">未指定</a></li>
                <li ng-repeat="item in items">
                    <a data-value="{{item.member_id}}">
                        {{item.username}}
                    </a>
                </li>
            </ul>
        </div>
    </textarea>

    <!--项目列表的磁贴-->
    <textarea id="tmpl-project-tiles">
        <ul class="project-tiles">
            <li class="create">
                <i class="icon"></i>
            </li>

            <li ng-repeat="project in projects.items" ng-click="onClickTile($event, project)">
               <div class="title">
                   {{project.title}}
               </div>

               <div class="processing">
                <div class="circle">
                    <span class="text">100%</span>
                </div>
               </div>

               <div class="description">
                   <span>{{project.description || '无项目说明'}}</span>
               </div>
            </li>
        </ul>
    </textarea>

    <!--创建项目，或者修改项目资料-->
    <textarea id="tmpl-project-editor">
        <div class="modal">
            <div class="inner">
                <a class="close-modal" rel="modal:close"><i class="icon"></i></a>
                <header>
                    新建/编辑项目
                </header>
                <section>
                    <form class="standard-form">
                        <div class="row">
                            <label class="caption">
                                项目名称
                            </label>
                            <input class="medium text" type="text"/>
                        </div>

                        <div class="row">
                            <label class="caption">
                                摘要说明
                            </label>
                            <input class="medium text" type="text" placeholder="一句话简单描述项目"/>
                        </div>

                        <div class="row">
                            <label class="caption">
                                GitLab
                            </label>
                            <div class="inline">
                                <git-list-editor data-name="project" data-max-count="5" data-gits="{{gits}}"></git-list-editor>
                            </div>
                        </div>

                        <div class="row control">
                            <button class="primary default" ng-click="onClickSave()">保存</button>
                            <button class="cancel default" ng-click="onClickCancel()">取消</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </textarea>
</div>