<div>
    <textarea id="tmpl-comment-cell">
        <div>
            <div class="header">
                <i>个人头像</i>
                <span class="timestamp">{{data.timestamp | date}}</span>

                <div class="control">
                    <a class="edit">编辑</a>
                    <a class="delete">删除</a>
                </div>
            </div>

            <div class="content" ng-bind-html="data.content | unsafe">
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-comment-list">
        <div class="comment">
            <h3>
                <i></i>
                评论
            </h3>
            <div ng-repeat="comment in comments.items">
                <!--一个完整的评论-->
                <comment-cell data="comment"></comment-cell>
            </div>
        </div>
    </textarea>

    <!--评论的编辑器-->
    <textarea id="tmpl-comment-editor">
        <!--操作的编辑器-->
        <editor></editor>
        <!--简版的编辑器，供显示用-->
        <div class="simple">
            <input type="text" placeholder="来，说点什么？" />
            <!--点击滚动到顶部-->
            <div class="top"></div>
        </div>
    </textarea>
</div>