<div>
    <!--修改个人资料-->
    <textarea id="tmpl-member-profile">
        <ul>
            <li>
                <label class="caption">
                    姓名
                </label>
                <input type="text">
            </li>
            <li>
                <label class="caption">
                    用户名
                </label>
                <input type="text">
            </li>
            <li>
                <label class="caption">
                    邮箱
                </label>
                <input type="text">
            </li>
            <li>
                <label class="caption">
                    Git帐号
                </label>
                <textarea rows="10" placeholder="多个git帐号，请每行一个git地址"></textarea>
            </li>
            <li class="control">
                <button class="primary">保存</button>
                <button class="cancel">取消</button>
            </li>
        </ul>
    </textarea>

    <!--修改用户的密码-->
    <textarea id="tmpl-change-password">
        <ul>
            <li>
                <label class="caption">
                    旧密码
                </label>
                <input type="text">
            </li>
            <li>
                <label class="caption">
                    新密码
                </label>
                <input type="text">
            </li>
            <li>
                <label class="caption">
                    重复密码
                </label>
                <input type="text">
            </li>
            <li class="control">
                <button class="primary">保存</button>
                <button class="cancel">取消</button>
            </li>
        </ul>
    </textarea>
</div>