<div>
    <!--修改用户的密码-->
    <!--<textarea id="tmpl-change-password">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<label class="caption">-->
                    <!--旧密码-->
                <!--</label>-->
                <!--<input type="text">-->
            <!--</li>-->
            <!--<li>-->
                <!--<label class="caption">-->
                    <!--新密码-->
                <!--</label>-->
                <!--<input type="text">-->
            <!--</li>-->
            <!--<li>-->
                <!--<label class="caption">-->
                    <!--重复密码-->
                <!--</label>-->
                <!--<input type="text">-->
            <!--</li>-->
            <!--<li class="control">-->
                <!--<button class="primary">保存</button>-->
                <!--<button class="cancel">取消</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</textarea>-->

    <!--用户列表
    <textarea id="tmpl-member-list">
        <ul>
            <li ng-repeat="member in members">

            </li>
        </ul>
    </textarea>
    -->

    <!--项目成员列表-->
    <textarea id="tmpl-project-member-list">
        <member-creator-model></member-creator-model>
        <div class="list project-list-panel member-list">
            <header>
                <h3>项目成员</h3>
            </header>
            <div class="create">
                <input type="text" placeholder="请输入将要添加用户的姓名" members-lookup autofocus />
            </div>
            <ul class="details">
                <project-member-item></project-member-item>
            </ul>
        </div>
    </textarea>

    <!--项目成员列表 item -->
    <textarea id="tmpl-project-member-item">
        <li ng-repeat="member in projectMember" class="row">
            <span class="name">{{member.realname}}</span>
            <span class="email">{{member.email}}</span>

            <div class="control">
                <a class="remove" ng-click="removeProjectMember(member)">删除</a>
                <div class="role" dropdown data-name="project-member-item">
                    {{ member.role | projectMemberRole }}
                    <i class="small icon cell"></i>
                    <project-member-role-dropdown></project-member-role-dropdown>
                </div>
            </div>
        </li>
    </textarea>
    <!--项目成员角色 dropdown -->
    <textarea id="tmpl-project-member-role-dropdown">
        <div class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li><a data-value="d">开发</a></li>
                <li><a data-value="l">Leader</a></li>
                <li><a data-value="p">产品</a></li>
                <li><a data-value="t">测试</a></li>
                <li><a data-value="g">客人</a></li>
            </ul>
        </div>
    </textarea>

    <!--修改密码-->
    <textarea id="tmpl-member-change-password">
        <div class="panel">
            <form class="standard-form" ng-submit="onClickSave()">
                <div class="row">
                    <label class="caption">
                        原密码
                    </label>
                    <input class="medium text" type="password" placeholder="您的旧密码"
                           ng-model="profile.old_password" required/>
                </div>

                <div class="row">
                    <label class="caption">
                        新密码
                    </label>
                    <input class="medium text" type="password" placeholder="请输入新密码"
                           ng-model="profile.new_password" required ng-minlength="6"/>
                </div>

                <div class="row">
                    <label class="caption">
                        重复密码
                    </label>
                    <input class="medium text" type="password" placeholder="两次输入的密码必需一致"
                           ng-model="profile.new_password2" required ng-minlength="6"/>
                </div>

                <div class="row control">
                    <button class="primary default">保存</button>
                    <button class="cancel default" ng-click="onClickCancel()">取消</button>
                </div>
            </form>
        </div>
    </textarea>

    <!--用户资料修改-->
    <textarea id="tmpl-member-profile">
        <div class="panel">
            <form class="standard-form">
                <div class="row">
                    <label class="caption">
                        用户名
                    </label>
                    <input class="medium text" type="text" placeholder="用于登录的用户名"
                           ng-model="profile.username"/>
                </div>

                <div class="row">
                    <label class="caption">
                        姓名
                    </label>
                    <input class="medium text" type="text" placeholder="用户姓名"
                           ng-model="profile.realname" />
                </div>

                <div class="row">
                    <label class="caption">
                        邮箱
                    </label>
                    <input class="medium text" type="text" placeholder="用于接收邮件通知"
                           ng-model="profile.email"/>
                </div>

                <div class="row">
                    <label class="caption">
                        Git帐号
                    </label>
                    <div class="inline">
                        <git-list-editor
                                data-name="{{contextName}}"
                                data-max-count="5"
                                data-gits="{{gits}}"></git-list-editor>
                    </div>
                </div>

                <div class="row control">
                    <button class="primary default" ng-click="onClickSave()">保存</button>
                    <button class="cancel default" ng-click="onClickCancel()">取消</button>
                </div>
            </form>
        </div>
    </textarea>

    <textarea id="tmpl-member-notification">
        <div class="panel">
            <form class="standard-form">
                <div class="row">
                    <label class="caption">
                        通知设置
                    </label>
                    此功能即将推出，敬请期待
                </div>
            </form>
        </div>
    </textarea>

    <textarea id="tmpl-member-setting">
        <div class="modal">
            <div class="inner">
                <a class="close-modal" rel="modal:close"><i class="icon"></i></a>
                <div class="simple-tab" simple-tab data-active-index="{{activeIndex}}">
                    <ul class="nav" data-field="nav">
                        <li>个人资料</li>
                        <li>修改密码</li>
                        <li>通知设置</li>
                    </ul>
                    <div class="content" data-field="content">
                        <member-profile action="account-profile"></member-profile>
                        <member-change-password></member-change-password>
                        <member-notification></member-notification>
                    </div>
                </div>
            </div>
        </div>
    </textarea>
     <!--创建成员-->
    <textarea id="tmpl-member-creator">
        <div class="modal">
            <div class="inner">
                <a class="close-modal" rel="modal:close"><i class="icon"></i></a>
                <header>
                    创建项目成员
                </header>
                <section>
                    <member-profile action="create-member"></member-profile>
                </section>
            </div>
        </div>
    </textarea>

    <!--消息提醒-->
    <textarea id="tmpl-member-message-notifier">
        <div  class="notify" ng-click="onClickNotifier($event)">
            <i class="small icon">
                <span class="badge red small" ng-show="message.pagination.recordCount > 0">{{message.pagination.recordCount}}</span>
            </i>

            <div class="message-list">
                <ul>
                    <li class="title">
                        您有{{message.pagination.recordCount}}条新消息
                    </li>
                    <li class="empty" ng-show="message.items.length == 0">没有任何新消息哦</li>
                    <li ng-repeat="item in message.items">
                        <p class="content">
                            <a href="{{item.link}}" ng-click="onClickItem(item, true)" class="title">{{item.content | limitTo: 60}}</a>
                            <a href="javascript:void(0)" class="readit" ng-click="onClickItem(item, false)">已读</a>
                        </p>
                    </li>
                    <li class="footer" ng-show="message.items.length > 0">>
                        <a href="javascript:void(0)" ng-click="onClickReadAll()">全部已读</a>
                        <a href="javascript:void(0)">查看全部{{message.pagination.recordCount}}条消息</a>
                    </li>
                </ul>
            </div>
        </div>
    </textarea>
</div>