<div>
    <textarea id="tmpl-commit-list">
        <div class="commit-list list">
            <header>
                <h3>Commit列表</h3>
            </header>
            <ul class="details">
                <li class="row" ng-repeat="item in commit.items">
                    <a href="/{{item | projectLink:'normal'}}/commit/{{item.sha}}?url={{item.url}}">{{item.message}}</a>
                    <div class="info">
                        <span class="memo">
                            {{item.sha | limitTo: 10}}
                        </span>
                        <span class="memo">{{item.realname}}</span>
                        <span class="memo">{{item.timestamp | date: 'yyyy-MM-dd hh:mm'}}</span>
                    </div>
                </li>
            </ul>

            <div class="empty" ng-show="commit.items.length == 0">
                没有任何Commit，需要了解如何同步到Commit到BHF吗？
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-commit-details">
        <iframe frameborder="0" width="100%" height="100%" ng-src="{{url}}"></iframe>
    </textarea>

    <!--issue的commit列表-->
    <textarea id="tmpl-commit-issue-list">
        <div>
            <ul class="list">
                <li ng-repeat="item in commits" class="row">
                    <span class="timestamp gray">{{item.timestamp | date: 'medium'}}</span>
                    <span class="realname gray">{{item.realname}}</span>
                    <a href="{{item.url}}" target="_blank">{{item.message}}</a>
                </li>
            </ul>

            <div class="empty" ng-show="commits.length == 0">
                哟，此任务还没有提交任何代码呢
            </div>
        </div>
    </textarea>
</div>