<div class="editor">
    <!--
    <ul class="nav">
        <li class="simditor" data-field="markdown">Markdown</li>
        <li class="markdown active" data-field="simditor">HTML</li>
    </ul>

    <div class="panel">
        <div class="simditor" data-field="simditor">
            <textarea rows="10" placeholder="这里输入内容" autofocus></textarea>
        </div>
        <div class="markdown" data-field="markdown">
            <textarea rows="10"></textarea>
        </div>
    </div>
    -->
    <textarea rows="10" placeholder="这里输入内容" autofocus></textarea>
    <div class="control">
        <div class="left">
            <button class="cancel default" ng-click="onClickCancel()">取&nbsp;&nbsp;消</button>
        </div>
        <div class="right">
            <label class="always_top">
                <input type="checkbox" ng-checked="always_top" />
                置顶
            </label>
            <button class="primary default" ng-click="onClickSubmit()">提&nbsp;&nbsp;交</button>
        </div>
    </div>
</div>