<div>
    <!--空页面-->
    <textarea id="tmpl-global-blank-page">
        <div class="blank-page">
            <div class="inner">
                <!--<p><i class="small icon"></i></p>-->
            </div>
        </div>
    </textarea>

    <!--git list-->
    <textarea id="tmpl-global-git-list">
        <ul class="git-list">
            <li ng-repeat="account in gitAccounts track by $index" ng-click="onClickEdit($event, $index, account)">
                <label>{{account}}</label>
                <button ng-click="onClickRemove($event, $index)">
                    <i class="icon small remove"></i>
                </button>
            </li>
            <li class="create">
                <input type="text" placeholder="输入git地址后回车" class="medium" ng-keypress="onKeypressAdd($event)"/>
            </li>
        </ul>
    </textarea>
    <textarea id="tmpl-global-web-file-upload-file-list">
        <div id="uploader" class="file-upload-box">
            <!--用来存放文件信息-->
            <div id="uploaderList" class="uploader-list"></div>
            <div class="btns">
                <div id="picker">选择文件</div>
                <button id="ctlBtn" class="file-upload-btn">开始上传</button>
            </div>
        </div>
    </textarea>
    <textarea id="tmpl-global-web-file-upload-file-item">
        <div id="$file.id" class="item">
            <h4 class="info">$file.name</h4>
            <p class="state">等待上传...</p>
        </div>
    </textarea>
    <textarea id="tmpl-global-web-file-upload-progressbar">
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" style="width: 0%"></div>
        </div>
    </textarea>

    <!--header上的toolbar-->
    <textarea id="tmpl-global-header-toolbar">
        <div class="header-toolbar">
            <div class="search">
                <!--<input type="text" placeholder="请输入搜索关键字" />-->
            </div>
            <div class="menu">
                <div  class="notify">
                    <i class="small icon"></i>
                </div>
                <div class="help" dropdown>
                    <i class="small icon"></i>
                    <div class="dropdown dropdown-tip">
                        <ul class="dropdown-menu">
                            <li>
                                <a href="help.html">帮助</a>
                            </li>
                            <li>
                                <a href="feedback.html">反馈建议</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile" dropdown>
                    <i class="small icon"></i>
                    <div class="dropdown dropdown-tip">
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="onClickSetting(0)">个人资料</a>
                            </li>
                            <li>
                                <a ng-click="onClickSetting(2)">通知设置</a>
                            </li>
                            <li>
                                <a ng-click="onClickSetting(1)">修改密码</a>
                            </li>
                            <li>
                                <a ng-click="onClickLogout()">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </textarea>
</div>