<div>
    <textarea id="tmpl-global-git-list">
        <ul class="git-list">
            <li>
                <label>conis.yi@gmail.com</label>
                <button ng-click="onClickRemove($event, $index)">
                    <i class="icon small remove"></i>
                </button>
            </li>
            <li>
                <label>conis.yi@gmail.com</label>
                <button ng-click="onClickRemove($event, $index)">
                    <i class="icon small remove"></i>
                </button>
            </li>
            <li class="create">
                <input type="text" placeholder="输入git地址后回车" class="medium" />
            </li>
        </ul>
    </textarea>
</div>