<div class="frame home-view full">
    <header>
        <div></div>
        <div class="center logo">
            <i class="icon"></i>
        </div>
        <header-toolbar></header-toolbar>
    </header>

    <div class="content-view">
        <project-editor></project-editor>
        <div class="project">
            <h3 class="title">我的项目</h3>
            <project-tiles></project-tiles>
        </div>

        <div class="chart-view">
            <img src="/images/right-demo.png" />
        </div>
    </div>
</div>