
.asset-thumbnails{
  @width: 120px;
  >li{
    float: left;
    margin: 0 10px 10px 0;
    width: @width;
    height: 180px;
    position: relative;

    .thumbnail{
      width: 100%;
      height: 90px;
      background-position: center center;
      margin-bottom: 6px;
    }

    .extension{
      width: 100;
      height: 90px;
      background-position: left center;
      background-repeat: no-repeat;
    }

    .overlay{
      &:hover{
        opacity: 1;
      }

      transition-property: opacity;
      transition-duration: 600ms;
      opacity: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      top: 0;

      a{
        color: #FFF;
      }

      ul{
        margin: 90px 0 0 2px;
        width: 100%;
      }

      li{
        float: left;
        width: 33%;
        text-align: center;
      }
    }

    .filename{
      text-overflow: ellipsis;
      max-height: 30px;
      margin-right: 10px;
      overflow: hidden;
      word-wrap:break-word;
      word-break:break-all
    }

    p{
      padding: 0;
      margin: 4px 0 0 0;

      &.secondary{
        color: #CCCCCC;
      }
    }
  }
}

.asset-previewer{
  h3{
    padding: 10px 10px 0 10px;
    button{
      float: right;
      cursor: pointer;
      text-align: right;
    }

    .icon{
      background-position: -200px -360px;
      vertical-align: middle;
    }
  }

  .asset-unwind{
    padding-top: 0;
  }
}

.asset-unwind{
  position: absolute;
  z-index: 99;
  background-color: #FFF;
  padding: 10px;
  box-sizing: border-box;

  nav{
    padding: 10px 0;
  }

  ul.list{
    li{
      padding: 10px 0;
      display: flex;
      span{
        display: inline-block;
        flex: 1;
      }

      .filename{
        flex: 2;
      }

      .mtime, .size{
        text-align: right;
      }

      .download{
        float: right;
        display: none;
      }

      &:hover{
        background-color: #f7f7f7;
        .download {
          display: block;
        }
      }
    }

    li.title{
      background-color: #e9e9e7;
      span{
        font-weight: bold;
      }
    }
  }
}