.asset-thumbnails{
  li{
    float: left;
    padding-right: 20px;
    .filename{
      text-overflow: ellipsis;
      width: 100px;
      height: 18px;
      display: inline-block;
      overflow: hidden;
    }
  }
}

//临时措施
.asset-previewer{
  img{
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
  }
}