@text-color: #333;
@link-color: #336699;
@normal-border: 1px solid #e9e9e7;
@default-border-radius: 4px;
@project-header-height: 40px;

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.border-radius(@radius: @default-border-radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: @default-box-shadow, ...) {
  @shadows: ~`(function() { var args = "@{arguments}".replace(/[[\]]/g, ""); if(!args.match(/[^,]\s+[^,]/)) { args = args.replace(/,(?=[^()]*\))/g, "%est%").replace(/,/g, "").replace(/%est%/g, ","); } return args;})()`;
  -webkit-box-shadow: @shadows;
  -moz-box-shadow: @shadows;
  box-shadow: @shadows;
}


.clearfix() {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.frame{
  width: 100%;
  overflow: hidden;
}

.sprite{
  background-image: url(/images/sprite.png);
  background-repeat: no-repeat;
}

i.icon{
  .sprite();
  display: inline-block;

  &.small{
    width: 20px;
    height: 20px;
  }

  &.small-32{
    width: 32px;
    height: 32px;
  }
}



.master-panel{
  width: 240px;
  height: 100%;
  background-color: #cfcfcf;
}

.salve-panel{
  flex: 1;
  display: flex;

  .list-panel{
    width: 40%;
    padding: 20px;
    overflow: auto;
    padding-bottom: 40px;
    border-right: 2px solid #cfcfcf;
    height: 100%;

    //列表
    .list{
      h3{
        padding: 10px 0;
      }


      .details{
        li.row {
          padding: 14px 10px;
          overflow: hidden;
          border-bottom: @normal-border;

          &.active, &:hover {
            background-color: #e9ebf0;
          }

          &a {
            &:link, &:visited {
              color: #333;
            }
          }
        }
      }
    }
  }

  .details-panel{
    flex: 1;
    height: 100%;
    .not-found{
      width: 100%;
      height: 100%;
      background-color: #f7f8f9;
      overflow: hidden;

      .icon{
        background-position: -40px -440px;
        width: 80px;
        height: 80px;
      }

      p{
        margin: 200px auto;
        text-align: center;
        font-size: 60px;
        color: #CCC;
      }
    }
  }
}

.badge{
  text-align: center;
  display: inline-block;

  &.gray{
    background-color: #9f9f9f;
    color: #FFF;
  }

  &.small{
    min-width: 12px;
    min-height: 16px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
  }
}


.tab{
  .nav{
    background-color: #e2e2e2;
    overflow: hidden;
    li{
      float: left;
      padding: 12px 10px 0 10px;
      cursor: pointer;
      text-align: center;
      min-width: 100px;
      font-weight: bold;

      &.active, &:hover{
        &:after{
          content: '';
          background-color: #37aeeb;
          height: 2px;
          display: block;
          width: 120%;
          position: relative;
          margin-top: 10px;
        }
      }
    }
    .clearfix()
  }

  .content>.panel{
    overflow: hidden;
    padding: 10px;
  }

}

button{
  border: 0;

  &.default{
    .sprite();
    text-align: center;
    width: 68px;
    height: 25px;
    color: #FFF;

    &:hover{
      color: #333;
    }
  }

  &.primary{
    background-position: -120px -40px;
  }

  &.cancel{
    background-position: -200px -40px;
  }
}

input[type='text'], input[type='password'], input[type='email'], textarea{
  border: 1px solid #CCC;

  &.small{
    width: 230px;
  }

  &.medium{
    width: 370px;
  }

  &.large{
    width: 500px;
  }
}

input.text{
  height: 30px;
}


.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.inline{
  display: inline-block;
}

.hide{
  display: none;
}

.fullscreen{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
//  width: 100%;
//  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}

.modal{
  background-color: rgba(255, 255, 255, 0.95);
  width: 600px;
  .box-shadow(0 0 8px rgba(0, 0, 0, 0.8));
  display: none;
}

.standard-form{
  .row{
    padding: 10px 20px;
  }

  label.caption{
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
  }

  .row.control{
    padding: 10px 0 10px 145px;
  }

  .git-list{
    li{
      padding: 6px 0;
      display: flex;

      &.create{
        padding: 10px 0 0 0;

        &:hover{
         background-color: transparent;
        }

        input{
          height: 34px;
        }
      }

      i.remove{
        background-position: -200px -360px;
        cursor: pointer;
      }

      button{
        background-color: transparent;
        height: 14px;
        width: 22px;
      }

      label{
        flex: 1;
      }

      &:hover{
        background-color: #e9ebf0;
      }
    }
  }
}

.full{
  width: 100%;
  height: 100%;
}