//评论列表
.issue-list{
  h3{
    padding: 10px 0;
  }

  .create{
    input{
      width: 100%;
      height: 40px;
      border-width: 1px 0 1px 0;
      font-size: 16px;
      background-image: url(/images/simple-editor-watermark.png);
      background-position: right center;
      background-repeat: no-repeat;
    }
  }

  li.row{
    background-color: #FFF;
  }

  .row{
    p.summary{
      overflow: hidden;
      color: #CCC;
      height: 18px;
      padding: 0;
      margin: 10px 0 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon{
//      margin-right: 10px;
      margin-bottom: -4px;
    }

    a:link, a:visited{
      color: #333;
    }

    .memo{
      color: #CCC;
      font-size: 12.5px;
      padding: 0 4px;
    }

    .info{
      float: right;
    }
  }

  .empty{
    padding: 20px 0;
    color: #CCC;
  }
}

.issue-details{
  height: 100%;
  display: box;
  box-orient: vertical;
  position: relative;
  header{
    height: 30px;
    overflow: hidden;
    display: flex;
    border-bottom: @normal-border;

    .icon.cell{
      margin: 10px 0 0 10px;
      width: 16px;
      height: 16px;
    }

    label{
      padding-bottom: 10px;
      vertical-align: super;
    }

    .project-name{
      flex: 1;
      .icon{
        background-position: -160px -200px;
      }
    }

    .owner .icon{
      background-position: -200px -200px;
    }

    .priority{
      .icon{
        background-position: -160px -280px;
      }
      width: 100px;
    }

    .assets{
      width: 100px;
      .icon{
        background-position: -240px -160px;
      }
    }

    .trash{
      .icon{
        background-position: -80px -360px;
      }
    }

    .finish-date{
      width: 120px;
      .icon{
        background-position: -160px -240px;
      }

      button{
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        span{
          vertical-align: top;
          padding-top: 8px;
          display: inline-block;
          text-align: left;
        }
      }
    }

    div{
      label{
        cursor: pointer;
      }

      &:hover{
        background-color: #e9ebf0;
      }

      cursor: pointer;
      width: 100px;
      border-right: @normal-border;
    }
    .date-time{
      display: inline-block;
      width: 80px;
      border: none;
      font-size: 12px;
    }
  }

  .panel{
    .clearfix();
    .toolbar{
      float: right;
      margin-right: 20px;
      display: none;
    }

    &.issue{
      &:hover .toolbar{
        display: block;
      }

      .editor{
        padding-left: 30px;
      }

      input.text{
        width: 80%;
      }

      .content{
        padding: 10px 30px;
      }

      div.issue-status{
        margin-right: 6px;
      }
    }

    .title{
      padding: 10px 0;
      h3{
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 10px;
      }
    }

    padding: 20px;
    border-bottom: @normal-border;
  }

  .issue{
    .sub-title{
      color: #CCC;
      padding: 0 0 10px 30px;

      span{
        margin-right: 10px;
      }
    }
  }

  .assets{
    .title .icon{
      background-position: -120px -360px;
    }

    button.create{
      background: url(/images/add-asset.png);
      width: 102px;
      height: 82px;
      border: 0;
    }

    .content{
      padding: 10px 30px;
    }
  }

  .comments{
    .title .icon{
      background-position: -240px -120px;
    }

    .row{
      overflow: hidden;
      padding: 10px 30px;

      img{
        max-width: 90%;
      }

      .information{
        color: #CCC;
      }

      &:hover .toolbar{
        display: block;
      }

      &:hover{
//        background-color: #e9ebf0;
      }
    }
  }

  .log{
    .title .icon{
      background-position: -200px -160px;
    }
  }
}

.asset-thumbnails{
  li{
    float: left;
    padding-right: 20px;
    .filename{
      text-overflow: ellipsis;
      width: 100px;
      height: 18px;
      display: inline-block;
      overflow: hidden;
    }
  }
}

.comment-editor{
  bottom: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  .box-shadow(0 0 4px rgba(0, 0, 0, 0.2));
  background-color: rgba(233, 235, 240, 0.95);
  .animation-duration(.5s);

  &:hover{
    bottom: 0;
  }

  .simple{
    height: 60px;
    input{
      width: 97%;
      font-size: 16px;
      margin: 12px;
      height: 33px;
      border: 1px solid #CCC;
      .border-radius(4px);
      padding-left: 10px;
    }
  }

  .full-editor{
    display: none;

    header{
      font-size: 16px;
      font-weight: bold;
      /*padding: 20px 0 0 10px;*/
      line-height: 40px;
      padding-left: 10px;
    }
  }

  &.active{

    .simple{
      display: none;
    }

    .full-editor{
      display: block;
    }
  }
}

.issue-status{
  i.icon{
    &.pause{
      background-position: -160px -120px;
    }

    &.new, &.doing{
      background-position: -160px -80px;
    }

    &.done{
      background-position: -160px -160px;
    }
    margin: 0;
  }

  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}


i.icon.small{
  &.priority-3 {
    background-position: -160px -280px;
  }

  &.priority-2 {
    background: none;
  }

  &.priority-1{
    background-position: -120px -280px;
  }
}