.project-view>header{
  position: fixed;
  width: 100%;
  background-color: #353d52;
  display: flex;
  height: @project-header-height;
  top: 0;
  z-index: 100;
  
  >div{
    margin-top: 8px;
    width: 40%;
    overflow: hidden;

    &.logo{
      width: 19%;
    }
  }

  .overview{
    padding-left: 15px;
    color: #FFF;

    >*{
      float: left;
    }

    .home .icon{
      margin-top: 4px;
      background-position: -40px -360px;
    }

    .content{

    }
  }

  .logo .icon{
    background-position: -40px -40px;
    width: 60px;
    height: 20px;
//    margin: 0 auto;
    display: block;
  }

  .toolbar{
    text-align: right;

    >*{
      display: inline-block;
    }

    .menu{
      margin-right: 20px;
      margin-top: 5px;
      width: 200px;
      >*{
        display: inline-block;
      }

      i{
        margin-left: 10px;
        cursor: pointer;
      }

      .notify{
        i{
          background-position: -120px -320px;
        }
      }

      .help{
        i{
          background-position: -40px -320px;
        }

        .dropdown{
          &:before{
            left: 89px;
          }

          &:after{
            left: 88px;
          }
        }
      }

      .profile{
        i{
          background-position: -80px -320px;
        }

        .dropdown{
          &:before{
            left: 129px;
          }

          &:after{
            left: 128px;
          }
        }
      }
    }

    .dropdown{
      text-align: left;
      right: 6px;
      margin-top: 12px;

      a{
        padding: 12px;
      }

      a:hover{
        background-color: #b6bccd;
      }
    }
  }
}