.project-menu{
  font-size: 16px;
  background-color: #cbcbcb;
  position: relative;
  height: 100%;

  .master-menu{
    margin: 8px 2px 0 0;

    a:link, a:visited{
      color: #333;
    }
  }

  .master-menu>li{
    overflow: hidden;

    .inner{
      display: block;
      padding: 10px 0 6px 0;
      overflow: hidden;
      margin: 0 0 0 10px;
      border-bottom: 1px solid #949494;
    }

    i, label{
      display: block;
      float: left;
    }

    label{
      margin-left: 10px;
    }

    &.active{
      background-color: #b6bccd;

      .inner{
        border-bottom: none;
      }
    }
  }

  .sub-menu{
    margin-left: 35px;
    clear: both;

    li{
      padding: 10px 20px 10px 10px;
      overflow: hidden;
      clear: both;

      span{
        display: block;
        float: left;

        &.badge{
          float: right;
          width: auto;
          padding: 2px 6px;
        }
      }
    }
  }

  .myself {
    .icon{
      background-position: -40px -80px;
    }

    &.active .icon{
      background-position: -80px -80px;
    }
  }

  .discussion{
    .icon{
      background-position: -40px -120px;
    }

    &.active .icon{
      background-position: -80px -120px;
    }
  }

  .asset{
    .icon{
      background-position: -40px -640px;
    }

    &.active .icon{
      background-position: -80px -640px;
    }
  }


  .issue-category{
    .icon{
      background-position: -40px -160px;
    }

    &.active .icon{
      background-position: -80px -160px;
    }

    .title{
      padding: 0 0 10px 0;
      overflow: hidden;
    }

    /*
    button.setting{
      background-color: transparent;
      float: right;
      width: 20px;
      height: 20px;
      .sprite();
      margin-right: 16px;
      background-position: -40px -400px;
    }
    */
  }

  .member{
    .icon{
      background-position: -40px -200px;
    }

    &.active .icon{
      background-position: -80px -200px;
    }

    a.invite{
      background-color: transparent;
      float: right;
      padding:  0 10px 0 0;
      color: #666;
      font-size: 12.5px;
    }
  }

  .commit{
    .icon{
      background-position: -40px -240px;
    }

    &.active .icon{
      background-position: -80px -240px;
    }
  }

  .report{
    .icon{
      background-position: -40px -280px;
    }

    &.active .icon{
      background-position: -80px -280px;
    }
  }

  .stat{
    .icon{
      background-position: -160px -320px;
    }

    &.active .icon{
      background-position: -80px -320px;
    }
  }

  .document{
    .icon{
      background-position: -40px -600px;
    }

    &.active .icon{
      background-position: -80px -600px;
    }
  }

  .menu-bar{
    @offsetHeight: 8px;
    background-color: #333333;
    color: #cbcbcb;
    position: absolute;
    bottom: @project-header-height + @offsetHeight;
    width: 100%;
    height: @project-header-height;
    display: flex;

    & when (@show-global-message){
      bottom: @project-header-height + @global-message-height + @offsetHeight;
    }

    .icon{
      width: 20px;
      height: 20px;
    }

    .item{
      flex: 1;
      text-align: center;
      cursor: pointer;
      padding-top: 12px;

      .icon, span{
        vertical-align: middle;
      }
    }

    .dropdown-tip{
      bottom: 44px;
    }

//    .create{
//      visibility: hidden;
//      .icon{
//        background-position: -240px -360px;
//      }
//
//      .dropdown-tip{
//        left: 10px;
//        &:before, &:after{
//          left: 40px;
//        }
//      }
//    }

    .setting{
      text-align: left;
      padding-left: 10px;
      .icon{
        background-position: -40px -400px;
      }

//      .dropdown-tip{
//        left: auto;
//        right: 10px;
//        &:before, &:after{
//          left: auto;
//          right: 20px;
//        }
//      }
    }
  }
}