<meta charset="utf-8" />
<meta name="keyword" content="QS项目" />
<meta name="description" content="QS项目" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>BHF</title>
{{css "<global.root>/css/" "main,font-awesome,simditor"}}
{{css "<global.root>/package/datetime/datetimepicker"}}
{{css "<global.root>/package/webuploader/webuploader"}}
<!--<link rel="stylesheet" href="{{global.root}}/css/main.css" type="text/css">-->
<script language="javascript" src="/js/vendor/require.js" data-main="/js/main.js"></script>