<div>
    <!--单个issue-->
    <textarea id="tmpl-issue-list-cell">
        <div class="row">
            <div class="issue-status" dropdown data-selected="{{issue.status}}" data-name="issue:status">
                <i class="icon small" ng-class="issue.status" ng-click="clickStatus()"></i>
                <issue-status-dropdown></issue-status-dropdown>
            </div>
            <i class="priority" ng-class="'priority-' + issue.priority" ng-click="clickPriority()"></i>
            <a class="title" href="/project/{{issue.project_id}}/issue/{{issue.id}}">{{issue.title}}</a>
            <span class="issue-id memo">#{{issue.id}}</span>
            <div class="info">
                <span class="member memo">{{issue.owner_name}}</span>
                <span class="date memo">{{issue.plan_finish_time | date}}</span>
            </div>
        </div>
    </textarea>

    <!--列表显示issue-->
    <textarea id="tmpl-issue-list">
        <div class="issue-list">
            <h3>{{title}}</h3>
            <div class="create">
                <input type="text" placeholder="请输入您将要创建的任务，支持指令" autofocus issue-quick-editor ng-keydown="onKeyDown($event)" data-category="1" />
            </div>

            <div>
                <!--待办中的部分-->
                <div class="list">
                    <header>
                        <h3>待办中<span class="badge">({{undoneIssues.pagination.recordCount}})</span></h3>
                    </header>
                    <ul class="details">
                        <li ng-repeat="issue in undoneIssues.items" class="row">
                            <issue-list-cell></issue-list-cell>
                        </li>
                    </ul>
                </div>

                <!--已经完成的部分-->
                <div class="list">
                    <header>
                      <h3>已完成<span class="badge">({{doneIssues.pagination.recordCount}})</span></h3>
                    </header>
                    <ul class="details">
                        <li ng-repeat="issue in doneIssues.items" class="row">
                            <issue-list-cell data="issue"></issue-list-cell>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </textarea>

    <!--issue的编辑器-->
    <textarea id="tmpl-issue-editor">
        <div>
            <div class="title">
                <input type="text" />
            </div>
            <editor></editor>
            <div class="control">
                <label class="always-top" ng-show="showAlwaysTop">
                    <input type="checkbox" />
                    置顶
                </label>
                <button>保存</button>
            </div>
        </div>
    </textarea>

    <!--讨论列表-->
    <textarea id="tmpl-discussion-list">
        <div class="list discussion-list">
            <header>
                <h3>讨论</h3>
            </header>

            <ul class="details">
                <li ng-repeat="item in discussion.items" class="row">
                    <a href="/project/{{item.project_id}}/discussion/{{item.id}}">
                        <span class="title">{{item.title}}</span>
                        <span class="badge gray small">{{item.comment_count}}</span>
                    </a>

                    <p class="content">
                        <!--{{item.content}}-->
                    </p>
                </li>
            </ul>
        </div>
    </textarea>

    <!--优先级-->
    <textarea id="tmpl-issue-priority-dropdown">
        <div class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li>
                    <a data-value="1">低优先级</a>
                </li>
                <li>
                    <a data-value="2">一般</a>
                </li>
                <li>
                    <a data-value="3">紧急</a>
                </li>
            </ul>
        </div>
    </textarea>

    <!--任务状态-->
    <textarea id="tmpl-issue-status-dropdown">
        <div class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li>
                    <a data-value="doing">进行中</a>
                </li>
                <li>
                    <a data-value="pause">暂停</a>
                </li>
                <li>
                    <a data-value="done">已完成</a>
                </li>
            </ul>
        </div>
    </textarea>
</div>