<article>
    <!--展示一个issue的所有内容-->
    <header>
        <div class="project-name">
            <i></i>
            项目名称
        </div>
        <div class="ower">
            <i></i>
            <label>{{issue.owner_name}}</label>
        </div>
        <div class="finish-date">
            <i></i>
            <label>{{issue.plan_finish_time | date}}</label>
        </div>
        <div class="priority">
            <i></i>
            <label>重要程度</label>
        </div>
        <div class="category">
            <i></i>
            <label>分类</label>
        </div>
    </header>

    <!--标题部分-->
    <div class="title">
        <i class="status"></i>
        <h3>{{issue.title}}</h3>
        <div class="info">
            <span class="creator">{{issue.creator_name}}</span>
            <span class="tag">标签</span>
            <span class="timestamp">{{issue.timestamp | date}}</span>
            <span class="id">#{{issue.id}}</span>
        </div>
        <div class="content">
            {{issue.content}}
        </div>
    </div>

    <!--附件-->
    <div class="assets">
        <h3>
            <i></i>
            附件
        </h3>
        <div>
            <!--附件缩略图列表-->
            <assets-thumbnail></assets-thumbnail>
            <button class="create"></button>
        </div>
    </div>

    <!--评论-->
    <comment-list></comment-list>

    <!--日志-->
    <div class="log">
        <h3>
            <i></i>
            记录
        </h3>
        <issue-log></issue-log>
    </div>
</article>